@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000000;
    color:  #F6F6F6;
    box-sizing: border-box;
}

.imagen{
    width: 300px;
    height: 400px;
    background-color: #76a8d1;
    
}

.presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;

}

.presentacion__contenido{
    width: 615px;
    display:flex;
    flex-direction: column;
    gap: 28px;
}

.javier_alberto{
    color:#d1af76
}

.mi__presentacion{
    color:#e8525d;
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;

}


.parrafo__1{
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.parrafo__2{
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-align: center;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.presentacio__enlace_subtitulo{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: aqua;
}

.presentacion__link{
    width: 120px;
    text-align: center;
    padding: 7.5px 0;
    border-radius: 10px;
    font-weight: 600px;
    text-decoration: none;
    color: #F6F6F6;
    border: 2px solid #76a8d1;
    display: flex;
    justify-content: center;
    gap: 10px;  
}


.presentacion__link:hover{
    background-color: #272727;
    cursor: pointer;
}

.footer{
    background-color: #76a8d1;
    color: #000000;
    text-align: center;
    font-family: "Grechen Fuemen", serif;
    padding: 24px;
    font-size: 60px;
    font-weight: 400;
}

.header:hover{
    background-color: none;
    cursor: pointer;

}

.header{
    padding: 5% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.header__menu__link{
    padding: 10px 15px;
    color: #76a8d1;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;

}

.titulo-destaque{
    COLOR:  #22D4FD;
  }

  .presentacion__contenido__texto{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
  }


