@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Grechen+Fuemen&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --color--primario:#F8F0E5;
    --color--secundario: #132043;
    --color--jarvy:#000000;
    --color--presentacion: #4F709C;
    --color--terciario:#213555;
    --color--destaque: #2146C7;
    --color--redes: #102C57;

    --fuente--grechen: "Grechen Fuemen", serif;
    --fuente--montserrat: "Montserrat", sans-serif;
    --fuente--krona: "Krona One", sans-serif;
    --fuente--cormorat: "Cormorant", serif;


}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color--primario);
    color: var(--color--secundario);
    box-sizing: border-box;
}

.imagen{
    width: 60%;
    height: auto;
    max-width: 800px;
    background-color: var(--color--terciario);
    border-radius: 50%;
    object-fit: cover;
    
}


.imagen_certificado{
    width: 60%;
    height: auto;
    background-color: var(--color--terciario);
}


.presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;

}

.presentacion__contenido{
    width: 50%;
    display:flex;
    flex-direction: column;
    gap: 28px;
}

.javier_alberto{
    color: var(--color--jarvy);
}

.mi__presentacion{
    color: var(--color--presentacion);
    font-family: var(--fuente--cormorat);
    font-weight: 400;
    font-style: normal;

}


.parrafo__1{
    font-size: 0.625rem;
    font-family: var(--fuente--montserrat);
    text-align: center;
}

.parrafo__2{
    font-family: var(--fuente--montserrat);
    font-size: 0.625rem;
    text-align: center;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.presentacio__enlace_subtitulo{
    font-family: var(--fuente--krona);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color--redes);
}

.presentacion__link{
    width: 50%;
    text-align: center;
    padding: 7.5px 0;
    border-radius: 10px;
    font-weight: 600px;
    text-decoration: none;
    color: var(--color--secundario);
    border: 2px solid var(--color--terciario);
    display: flex;
    justify-content: center;
    gap: 10px;  
}


.presentacion__link:hover{
    background-color: var(--color--primario);
    cursor: pointer;
}

.footer{
    background-color: var(--color--terciario);
    color: var(--color--primario);
    text-align: center;
    font-family: var(--fuente--cormorat);
    padding: 24px;
    font-size: 3.125rem;
    font-weight: 400;
}

.header:hover{
    background-color: none;
    cursor: pointer;

}

.header{
    padding: 5% 0% 0% 9%;
    

}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    padding: 10px 15px;
    color: var(--color--terciario);
    font-family: var(--fuente--montserrat);
    font-size: 1.5625rem;
    font-weight: 600;
    text-decoration: none;

}

.titulo-destaque{
    COLOR: var(--color--destaque);
  }

  .presentacion__contenido__texto{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }

  .presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
  }

.presentacion__contenido__texto a{
    text-decoration: none;
    color: var(--color--destaque);
}

@media (max-width: 1200px){

    .header{
        padding: 10px;
        justify-content: center;
    }

    .header__menu{
        justify-content: center;
        gap: 16px;
    }

    

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }
}
